Source: webkitimageqt
Section: unknown
Priority: extra
Maintainer: James Michael DuPont <JamesMikeDuPont@googlemail.com>
Build-Depends: debhelper (>= 7), libqt4-maemo5-dev | libqt4-dev
Standards-Version: 3.7.3
Homepage: <http://svn.openstreetmap.org/applications/editors/josm/plugins/wmsplugin/>

Package: webkitimageqt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A plugin for JOSM that can query any WMS server for background images.
Homepage: <http://svn.openstreetmap.org/applications/editors/josm/plugins/wmsplugin/>


